.App {
  text-align: center;
}


.App-Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Nav {
  display: flex;
  color: #eefb61;
}

.App-Main {
  display: flex;
  color: #0e8e00;
}

.App-Footer {
  display: flex;
  color: #eefb61;
}
